<section class="p-5 bg-dark text-light h-100">
  <button class="mb-5 p-3 btn btn-warning" (click)="connect()">
    Connect with MyAlgo
  </button>

  <form class="mb-5">
    <div class="form-field">
      <label for="nfts-amount">NFTs amount:</label>
      <input #nftsAmount type="text" id="nfts-amount" name="nfts-amount" />
    </div>

    <div class="form-field">
      <label for="manager-address">Manager address for NFTs unveil:</label>
      <input
        #managerAddress
        style="width: 30%"
        type="text"
        id="manager-address"
        name="manager-address"
      />
    </div>

    <div class="form-field">
      <label for="metadata-cid"
        >Template metadata IPFS CID (in address format):</label
      >
      <input
        style="width: 30%"
        #meatadataCid
        type="text"
        id="metadata-cid"
        name="metadata-cid"
      />
    </div>

    <div class="form-field">
      <label for="template-ipfs-url">Template IPFS asset URL:</label>
      <input
        #templateIpfsUrl
        style="width: 30%"
        type="text"
        id="template-ipfs-url"
        name="template-ipfs-url"
      />
    </div>

    <input
      type="submit"
      class="btn btn-warning"
      [disabled]="!address.length"
      (click)="
        mint(
          nftsAmount.value,
          managerAddress.value,
          meatadataCid.value,
          templateIpfsUrl.value
        )
      "
      value="Mint"
    />
  </form>

  <div *ngIf="mintedNftsIds.length">
    <div class="d-flex" style="width: 15%">
      <span>Minted NFTs IDs:</span>

      <button
        class="ms-auto p-1 btn btn-light"
        (click)="copyToClipboard(mintedNftsIdsHtmlElement)"
      >
        Copy
      </button>
    </div>

    <div #mintedNftsIdsHtmlElement id="minted-nfts-ids">
      <span class="d-block" *ngFor="let mintedNftId of mintedNftsIds">{{
        mintedNftId
      }}</span>
    </div>
  </div>
</section>
